.d1{
  border: black;
}
.f1{
position: relative;
top: 100px;
background-color: blanchedalmond;
}
.br{
  position: relative;
  top: 55px;
}
.ba{
  position: relative;
  left: 850px;
}
.bs
{
  position: relative;
  left:480px;
}